@import 'tailwindcss';

@theme {
  --color-dashboard-neutral-100: #d0d0d2;
  --color-dashboard-neutral-200: #b6b7b9;
  --color-dashboard-neutral-300: #9fa0a3;
  --color-dashboard-neutral-400: #87888c;
  --color-dashboard-neutral-500: #6d6d74;
  --color-dashboard-neutral-600: #56565d;
  --color-dashboard-neutral-700: #3c3d44;
  --color-dashboard-neutral-800: #24252d;
  --color-dashboard-neutral-900: #0d0e17;
  --color-dashboard-brand-500: #7e45d3;
  --color-dashboard-background: #f9fafa;
  --header-height: --spacing(12);
  --default-font-feature-settings: 'cv06', 'cv11';
  --animate-progress-fill: progress-fill 3000ms linear;
  --animate-slide: slide 10000ms linear infinite;
  --animate-slide-y: slide-y 10000ms linear infinite;
  --animate-dash-shift: dash-shift 1000ms linear infinite;

  @keyframes progress-fill {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes slide-y {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  @keyframes dash-shift {
    100% {
      stroke-dashoffset: -20;
    }
  }
}

@layer base {
  html {
    color-scheme: light;
  }

  html,
  body * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-neutral-400) transparent;
  }

  body {
    letter-spacing: var(--tracking-tight);
  }
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
