@import 'tailwindcss';

:root {
  interpolate-size: allow-keywords;
  --brand-100: oklch(0.92 0.04 303.75);
  --brand-200: oklch(0.81 0.1 302.51);
  --brand-300: oklch(0.72 0.15 301.2);
  --brand-400: oklch(0.62 0.19 299.34);
  --brand-500: oklch(0.54 0.21 297.22);
  --brand-600: oklch(0.46 0.21 294.84);
  --brand-700: oklch(0.38 0.19 292.3);
  --brand-800: oklch(0.31 0.17 290.81);
  --brand-900: oklch(0.23 0.12 292.51);
}

@theme {
  --color-brand-100: var(--brand-100);
  --color-brand-200: var(--brand-200);
  --color-brand-300: var(--brand-300);
  --color-brand-400: var(--brand-400);
  --color-brand-500: var(--brand-500);
  --color-brand-600: var(--brand-600);
  --color-brand-700: var(--brand-700);
  --color-brand-800: var(--brand-800);
  --color-brand-900: var(--brand-900);
  --header-height: --spacing(12);
  --default-font-feature-settings: 'cv06', 'cv11';
  --animate-progress-fill: progress-fill 3000ms linear;
  --animate-slide-x: slide-x 10000ms linear infinite;
  --animate-slide-y: slide-y 10000ms linear infinite;
  --animate-dash-shift: dash-shift 1000ms linear infinite;

  @keyframes progress-fill {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes slide-x {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes slide-y {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  @keyframes dash-shift {
    100% {
      stroke-dashoffset: -20;
    }
  }
}

@layer base {
  html {
    color-scheme: light;
  }

  html,
  body * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-neutral-400) transparent;
  }

  body {
    letter-spacing: var(--tracking-tight);
  }
}
