@import 'tailwindcss';

:root {
  interpolate-size: allow-keywords;
  --brand-100: hsl(264, 84%, 93%);
  --brand-200: hsl(264, 88%, 84%);
  --brand-300: hsl(264, 80%, 75%);
  --brand-400: hsl(264, 72%, 65%);
  --brand-500: hsl(264, 62%, 55%);
  --brand-600: hsl(264, 63%, 45%);
  --brand-700: hsl(264, 76%, 35%);
  --brand-800: hsl(264, 86%, 26%);
  --brand-900: hsl(265, 95%, 16%);
}

@theme {
  --color-brand-100: var(--brand-100);
  --color-brand-200: var(--brand-200);
  --color-brand-300: var(--brand-300);
  --color-brand-400: var(--brand-400);
  --color-brand-500: var(--brand-500);
  --color-brand-600: var(--brand-600);
  --color-brand-700: var(--brand-700);
  --color-brand-800: var(--brand-800);
  --color-brand-900: var(--brand-900);
  --header-height: --spacing(12);
  --default-font-feature-settings: 'cv06', 'cv11';
  --animate-progress-fill: progress-fill 3000ms linear;
  --animate-slide-x: slide-x 10000ms linear infinite;
  --animate-slide-y: slide-y 10000ms linear infinite;
  --animate-dash-shift: dash-shift 1000ms linear infinite;

  @keyframes progress-fill {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes slide-x {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes slide-y {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  @keyframes dash-shift {
    100% {
      stroke-dashoffset: -20;
    }
  }
}

@layer base {
  html {
    color-scheme: light;
  }

  html,
  body * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-neutral-400) transparent;
  }

  body {
    letter-spacing: var(--tracking-tight);
  }
}
